<div class="container">
  <div class="col-12"><h2>Cart</h2></div>
  <div class="row my-5">
    <div class="col-1 p-0"></div>
    <div class="col-6 p-0">Description</div>
    <div class="col-2 p-0 text-center">Quantity</div>
    <div class="col-2 p-0 text-center">Remove</div>
    <div class="col-1 p-0 text-center">Price</div>
    <hr class="mt-3" />
    @for (item of items; track $index) {
    <div class="row my-4 align-items-center p-0 mx-0">
      <div class="col-1 p-0 bg-secondary-subtle">
        <img [src]="item.thumbnail" alt="bl7" class="img-fluid" />
      </div>
      <div class="col-6">
        <strong>{{ item.title }}</strong> <br />
        Product Code: {{ item.sku }}
      </div>
      <div class="col-2">
        <div class="my-3">
          <div class="row row-cols-3 d-flex align-items-center">
            <button
              class="col-4 btn btn-success text-white rounded-0"
              (click)="increaseQuantity(item, 1)"
            >
              <i class="fa fa-plus"></i>
            </button>
            <input
              type="number"
              id="quantity"
              name="quantity"
              min="1"
              disabled
              [(ngModel)]="item.quantity"
              class="col-4 text-center bg-white rounded-0 border-1"
              [value]="item.quantity"
              placeholder="1"
              style="height: 38px"
            />
            <button
              class="col-4 btn btn-secondary text-black rounded-0"
              (click)="decreaseQuantity(item)"
            >
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-2 text-center">
        <button
          class="btn text-black btn-outline-danger border-secondary rounded-0"
          (click)="deleteFromCart(item)"
        >
          X
        </button>
      </div>
      <div class="col-1 fw-bold">
        {{
          (item.price | discount : item.discountPercentage) * item.quantity
            | currency : "EGP"
        }}
      </div>
    </div>
    <hr class="mt-3" />
    } @empty {
    <div class="col-12 text-center mt-4 fs-5 fw-bold">
      There are no items in your cart
    </div>
    }
  </div>
  <div class="row mt-4">
    <div class="col-12 text-end fw-bold">
      Total: {{ total(items) | currency : "EGP" }}
    </div>
  </div>
</div>
